<div class="container">
  <mat-card class="example-card">
    <mat-card-content>
      <div class="content">
        <img mat-card-image src="./assets/photos/profile.jpg" alt="Photo of a Shiba Inu">
        <div class="description">
          <p class="fullName">Zhetpisbayeva Saule Dulatkyzy, 18</p>
          <p class="descritptionText" style="margin-bottom: 7%">Амбициозная студентка, не боящаяся трудностей :)</p>
          <p class="descritptionText" style="margin-bottom: 7%"><span>Personal qualities:</span> ENFP</p>
          <p class="descritptionText"><span>Education:</span></p>
          <p class="descritptionText" style="margin-left: 15%">Internatonal IT University, Almaty, KZ</p>
          <p class="descritptionText" style="margin-left: 15%; margin-bottom: 7%">Physical and Mathematical Lyceum №107,
            Almaty</p>
          <p class="descritptionText"><span>Social activity:</span></p>
          <p class="descritptionText" style="margin-left: 15%">Member of league ofVolunteers in KZ</p>
        </div>
        <div id="btnDiv">
          <button class="downloadBtn" mat-raised-button>Download CV</button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <div class="skills">
    <p class="fullName" style="color: black;">Skills</p>
    <div class="programmingSkills">
      <div class="column">
        <img src="./assets/photos/skills/php.png" alt="">
        <img src="./assets/photos/skills/angularSkill.png" alt="">
        <img src="./assets/photos/skills/java.png" alt="">

      </div>
      <div class="column">
        <img src="./assets/photos/skills/sql.png" alt="">
        <img src="./assets/photos/skills/js.png" alt="">
        <img src="./assets/photos/skills/html.png" alt="">

      </div>
    </div>
  </div>
</div>
