.container {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.wrapper {
  width: 100%;
  padding: 0 5%;
  display: flex;
  text-align: center;
  vertical-align: middle;
  margin: 1% 20%;
}

mat-toolbar {
  background: #FFFFFF;
  min-height: 150px;
}

.footerText {
  font-family: Algerian, sans-serif;
  font-size: 16px;
  margin: 0 2%;
  text-decoration: none;
  color: black;
  height: 70%;
}

.feedBack {
  text-align: left;
}

.socialMedia img {
  width: 20px;
  margin: 3%;
}
.socialMedia img:hover {
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
