<div class="container">
  <mat-toolbar>
    <div class="wrapper">
      <div class="feedBack" style="margin-right: 40%">
        <p class="footerText">ОБРАТНАЯ СВЯЗЬ</p>
        <a routerLink="" routerLinkActive="active" class="footerText" style="color: #938A8A; text-decoration: none;">Отзывы</a>
      </div>
      <div class="feedBack">
        <p class="footerText">НАЙДИ МЕНЯ, ЕСЛИ СМОЖЕШЬ</p>
        <div class="socialMedia">
          <img src="./assets/photos/socialMedia/instagram.png" alt="">
          <img src="./assets/photos/socialMedia/facebook.png" alt="">
          <img src="./assets/photos/socialMedia/google-browser.png" alt="">
          <img src="./assets/photos/socialMedia/vk.png" alt="">
        </div>
      </div>
    </div>
  </mat-toolbar>
</div>
