@import '~@angular/material/theming';
@include mat-core();

$my-primary: mat-palette($mat-teal, 200, 500, A100);
$my-accent:  mat-palette($mat-green, 500, 900, A100);
$my-warn:    mat-palette($mat-red, 900, 900, A100);
$my-app-theme: mat-light-theme($my-primary, $my-accent, $my-warn);
@include angular-material-theme($my-app-theme);
.my-theme {
  @include angular-material-theme($my-app-theme);
}
