<div class="container">
  <mat-toolbar>
    <div class="wrapper">
      <div class="navigation">
        <a routerLinkActive="isActive" routerLink="./main" class="headerText">ГЛАВНАЯ</a>
        <a routerLinkActive="isActive" routerLink="./works" class="headerText">РАБОТЫ</a>
        <a routerLinkActive="isActive" routerLink="./me" class="headerText">ОБО МНЕ</a>
      </div>
      <div class="logo">
        <p>moon</p>
      </div>

      <div class="contactInfo">
        <p id="phoneNo" class="headerText">+7-(708)-753-42-34</p>
        <p class="headerText">zh.saule.01@gmail.com</p>
      </div>
    </div>
  </mat-toolbar>
</div>
